*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.slider{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    transition: opacity 0.5s;`
    
}

.slider-item, .slider-item img{
    width: 100%;
    height: 100%;
    display: block; 
}

.prev, .next{
    position: absolute;
    padding: 10px 15px;
    top: 50%;
    transform: translateY(-50%);
}

.prev{
    left: 0%;
}

.next{
    right: 0%;
}

.d-none{
    display: none;
}

.active{
    display: block;
}